{% load static %}

{% block content %}

<div class="container">
    <header class="border-bottom lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">

            <div class="col-lg-10 text-center">
                <a class="blog-header-logo text-body-emphasis text-decoration-none" href="{% url 'index' %}">My Blog</a>
            </div>

            <div class="col-2 d-flex justify-content-end align-items-center">
                <a class="btn btn-lg btn-outline-secondary" href="{% url 'subscribe' %}">Subscribe</a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-3 border-bottom">
        <nav class="nav nav-underline justify-content-between">
            
            <a class="nav-item nav-link link-body-emphasis" href="#">Technology</a>
            <a class="nav-item nav-link link-body-emphasis" href="#"> Web Design</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Lifestyle</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Entertainment</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Travel</a>
        </nav>
    </div>
</div>

{% endblock %}